.swiper {

}

.swiperWrapper {
    width: 90vw;
}

.slide {
    /*background: #a7a9d0;*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 600px;
}

.slide > img {
    width: 100%;
    object-fit: scale-down;
}

.slide_center {
    width: 1000px;
    background: #d0a7c2;
}

.slide_center > img {
    object-fit: scale-down;
}

