.swiper {

}
.swiperWrapper{
    width: 90vw;
}
.slide{
    width: 600px;

    background: #a7a9d0;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slide_center{
    background: #d0a7c2;
    width: 1000px;
}

